.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.modal.modal-static .modal-dialog {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.modal-dialog-scrollable {
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem);
}
.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}
.modal-dialog-scrollable .modal-footer,
.modal-dialog-scrollable .modal-header {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}
.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}
.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: "";
}
.modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}
.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}
.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
.modal-footer > * {
  margin: 0.25rem;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

/* ========================= */

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #212121;
  line-height: 1.6;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #212121 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Container */
.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation */
.nav__main {
  font-size: 14px;
  line-height: 28px;
}

.nav__link {
  display: inline-block;
  vertical-align: center;
  margin: 0 20px;
  color: #212121;
  text-decoration: none;
  position: relative;
}

.nav__link img {
  vertical-align: middle;
  transform: translateY(-1px);
  margin-left: 10px;
}

.nav__link:after,
.nav__auth:after {
  content: "";
  width: 0;
  height: 1.5px;
  background-color: #375ce0;
  position: absolute;
  top: 100%;
  left: 0;
  transition: width 0.2s ease-out;
}

.nav__link:hover:after,
.nav__auth:hover:after {
  width: 100%;
}

.nav__line {
  margin: 0 20px 0 20px;
  color: #c9c9c9;
  font-size: 20px;
}

.nav__auth {
  display: inline-block;
  vertical-align: center;
  color: #212121;
  font-weight: 600;
  margin: 0 20px 0 20px;
  text-decoration: none;
  position: relative;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.main__inner {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
}

.main__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  max-width: 525px;
}

.main__title {
  font-size: 54px;
  font-weight: 700px;
  text-align: center;
  line-height: 75px;
}

.main__subtitle {
  font-size: 20px;
  text-align: center;
  line-height: 23px;
  margin: 10px 0 0 0;
}

/* Form */

.form__main {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

.form__input,
.form__button {
  font-size: 16px;
}

.form__input {
  padding: 0 0 0 20px;
  margin-right: 23px;
  border: none;
  border-radius: 5px;
  background-color: #f3f3f3;
  outline: none;
  transition: 0.3s;
  width: 225px;
  height: 45px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

::placeholder {
  color: #9a9a9a;
}

.form__input:focus {
  border-bottom: 2px solid #375ce0;
}

.form__button {
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #375ce0;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  width: 185px;
  height: 45px;
}

.form__button:focus,
.form__button:hover {
  background-color: #2b49b4;
}

.form__subtext {
  margin-top: 35px;
  text-align: center;
  font-size: 14px;
  color: #9e9e9e;
}

.link {
  text-decoration: none;
  color: #375ce0;
  font-size: 14px;
}

/* Pop-up */
.form__popup {
  margin-top: 25px;
}

.popup__title {
  margin: 0 0 30px 0;
  font-size: 30px;
}

.popup_image {
  margin-top: 30px;
  height: 300px;
}

.popup__group {
  margin-bottom: 20px;
}

.modal__inner {
  display: flex;
  flex-direction: row;
}

.modal .modal-dialog {
  max-width: 630px !important;
}

.modal .modal-dialog .modal-body {
  padding: 32px 32px 16px 32px;
}

.close {
  position: absolute;
  margin-left: 540px;
}
